eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    ## ÊÇ·ñ×¢²áµ½eureka
    register-with-eureka: false
spring:
  application:
    name: eureka

server:
  port: 8761
